BOOKNEST_ENV_ID=local
COMPOSE_PROFILES=${BOOKNEST_ENV_ID}
DEBUG=1
SECRET_KEY=dev-secret-change-me
POSTGRES_DB=booknest
POSTGRES_USER=booknest_user
POSTGRES_PASSWORD=booknest_password
POSTGRES_PORT=5432
